<template>

    <v-content>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="purple"
                dark
                flat
              >
                <v-toolbar-title v-if="isLogin">Login</v-toolbar-title>
                <v-toolbar-title v-else>Register</v-toolbar-title>

                <v-spacer />

              </v-toolbar>
              <v-card-text>
                 <v-form>
                  <v-text-field
                    label="Email"
                    name="email"
                    prepend-icon="mdi-account"
                    type="text"
                    v-model="email"
                  />

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                    v-model="password"
                  />

                  <v-text-field
                    id="confirmPassword"
                    label="Confirm Password"
                    name="confirmpassword"
                    prepend-icon="mdi-lock"
                    v-if="!isLogin"
                    type="password"
                    v-model="ConfirmPassword"
                  />
                </v-form>
              </v-card-text>
              <v-card-actions>
                <span @click="setRegister" v-if="isLogin" class="sub-link"> Register </span>
                <span @click="setRegister" v-else class="sub-link"> Already have an account? </span>

                <v-spacer />

                <v-btn class="white-text" v-if="isLogin" @click="login(email,password)" color="purple">Login</v-btn>
                <v-btn v-else @click="register(email,password)" color="purple">Register</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-content>
</template>

<script>
  export default {
    data() {
      return {
        email: null,
        password: null,
        confirmPassword: null,
        isLogin: true
      }
    },
    methods:{
      login(email,password) {
        console.log(email, password)
      },
      setRegister() {
        this.isLogin = !this.isLogin;
      }
    }
  }
</script>
<style>
.container {
  background-image: url("../../../public/background.jpg");
   background-repeat: repeat;
}
.sub-link {
  text-decoration: underline;
  color: purple;
}

.theme--light.v-btn  {
  color: white;
}
</style>
